# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*

# SQLite database
db.sqlite3

# Django static/media
staticfiles/
media/

# Logs
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE/project settings
.vscode/
.idea/

# Backup/temp files
*.bak
*.tmp
.DS_Store
Thumbs.db

# Django migrations
migrations/
